{%- liquid
    assign above_title              = section.settings.above_title
    assign title                    = section.settings.title
    assign subtitle                 = section.settings.subtitle
    assign slide_left_side_heading  = section.settings.slide_left_side_heading
    assign slide_right_side_heading = section.settings.slide_right_side_heading
    assign enable_autoplay          = section.settings.enable_autoplay
    assign autoplay_delay           = section.settings.autoplay_delay
-%}

{%- capture data_autoplay -%}
    {%- if enable_autoplay == true -%}
        data-autoplay="{{- enable_autoplay -}}" data-autoplay-delay="{{- autoplay_delay -}}"
    {%- endif -%}
{%- endcapture -%}

{%- capture variables -%}
    --padding_top_desktop: {{- section.settings.padding_top_desktop | default: 118 -}}px;
    --padding_bottom_desktop: {{- section.settings.padding_bottom_desktop | default: 110 -}}px;
    --padding_top_mobile: {{- section.settings.padding_top_mobile | default: 58 -}}px;
    --padding_bottom_mobile: {{- section.settings.padding_bottom_mobile | default: 50 -}}px;
{%- endcapture -%}

{%- capture slides -%}
    {%- for block in section.blocks -%}
        {% liquid
            assign left_side_image = block.settings.left_side_image
            assign right_side_image = block.settings.right_side_image
            assign bottom_text = block.settings.bottom_text
        %}
        
        <div class="before-after-slider__slide swiper-slide">
            <div class="before-after-slider__slide-top">
                <div class="before-after-slider__slide-column">
                    {%- if slide_left_side_heading != blank -%}
                        <span class="before-after-slider__slide-heading">
                            {{- slide_left_side_heading -}}
                        </span>
                    {%- endif -%}

                    {%- if left_side_image != blank -%}
                        <picture class="before-after-slider__slide-image">
                            <source media="(max-width: 480px)" srcset="{{- left_side_image | img_url: '150x' }} 1x, {{ left_side_image | img_url: '300x' }} 2x"/>
                            <img
                                    alt="{{- left_side_image.alt -}}"
                                    class="image"
                                    src="{{- left_side_image | img_url: '190x' -}}"
                                    srcset="{{ left_side_image | img_url: '190x' }} 1x, {{ left_side_image | img_url: '380x' }} 2x"
                            />
                        </picture>
                    {%- else -%}
                        <div class="before-after-slider__slide-image">
                            {{- "image" | placeholder_svg_tag: "image image-placeholder" -}}
                        </div>
                    {%- endif -%}
                </div>
                <div class="before-after-slider__slide-column">
                    {%- if slide_right_side_heading != blank -%}
                        <span class="before-after-slider__slide-heading">
                            {{- slide_right_side_heading -}}
                        </span>
                    {%- endif -%}

                    {%- if right_side_image != blank -%}
                        <picture class="before-after-slider__slide-image">
                            <source media="(max-width: 480px)" srcset="{{- right_side_image | img_url: '150x' }} 1x, {{ right_side_image | img_url: '300x' }} 2x"/>
                            <img
                                    alt="{{- right_side_image.alt -}}"
                                    class="image"
                                    src="{{- right_side_image | img_url: '190x' -}}"
                                    srcset="{{ right_side_image | img_url: '190x' }} 1x, {{ right_side_image | img_url: '380x' }} 2x"
                            />
                        </picture>
                    {%- else -%}
                        <div class="before-after-slider__slide-image">
                            {{- "image" | placeholder_svg_tag: "image image-placeholder" -}}
                        </div>
                    {%- endif -%}
                </div>
            </div>
            {%- if bottom_text != blank -%}
                <span class="before-after-slider__slide-bottom">
                    {{- bottom_text -}}
                </span>
            {%- endif -%}
        </div>
    {%- endfor -%}
{%- endcapture -%}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<section class="before-after-slider" data-section-id="{{- section.id -}}" data-section-type="before-after-slider" style="{{- variables -}}">
    {%- if above_title != blank or title != blank or subtitle != blank -%}
        <div class="before-after-slider__header">
            {%- if above_title != blank -%}
                <h4 class="before-after-slider__above-title">{{- above_title -}}</h4>
            {%- endif -%}
            {%- if title != blank -%}
                <h3 class="before-after-slider__title">{{- title -}}</h3>
            {%- endif -%}
            {%- if subtitle != blank -%}
                <span class="before-after-slider__subtitle">{{- subtitle -}}</span>
            {%- endif -%}
        </div>
    {%- endif -%}
    
    {%- if slides != blank -%}
        <div class="before-after-slider__slides" {{ data_autoplay -}}>
            <div class="before-after-slider__slides-container swiper-wrapper">
                {{- slides -}}
            </div>
            <div class="before-after-slider__pagination"></div>
        </div>
    {%- endif -%}
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="{{ 'before-after-slider.js' | asset_url }}" defer="defer"></script>

{% schema %}
    {
        "name": "t:sections.before-after-slider.name",
        "settings": [
            {
            "type": "range",
            "id": "padding_top_desktop",
            "label": "t:global.padding-top-desktop",
            "step": 2,
            "min": 0,
            "max": 200,
            "unit": "px",
            "default": 118
        },
        {
            "type": "range",
            "id": "padding_bottom_desktop",
            "label": "t:global.padding-bottom-desktop",
            "step": 2,
            "min": 0,
            "max": 200,
            "unit": "px",
            "default": 110
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "label": "t:global.padding-top-mobile",
            "step": 2,
            "min": 0,
            "max": 200,
            "unit": "px",
            "default": 58
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "label": "t:global.padding-bottom-mobile",
            "step": 2,
            "min": 0,
            "max": 200,
            "unit": "px",
            "default": 50
        },
        {
            "type": "header",
            "content": "t:sections.before-after-slider.settings.headers.section_text.content"
        },
        {
            "type": "text",
            "id": "above_title",
            "label": "t:sections.before-after-slider.settings.above_title.label"
        },
        {
            "type": "text",
            "id": "title",
            "label": "t:sections.before-after-slider.settings.title.label"
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "t:sections.before-after-slider.settings.subtitle.label"
        },
        {
            "type": "checkbox",
            "id": "enable_autoplay",
            "label": "Enable autoplay",
            "default": true
        },
        {
            "type": "range",
            "id": "autoplay_delay",
            "min": 1,
            "max": 10,
            "step": 1,
            "unit": "s",
            "label": "Autoplay delay",
            "default": 3
        },
        {
            "type": "header",
            "content": "t:sections.before-after-slider.settings.headers.slide_text.content",
            "info": "t:sections.before-after-slider.settings.headers.slide_text.info"
        },
        {
            "type": "text",
            "id": "slide_left_side_heading",
            "label": "t:sections.before-after-slider.settings.slide_left_side_heading.label",
            "default": "Before"
        },
        {
            "type": "text",
            "id": "slide_right_side_heading",
            "label": "t:sections.before-after-slider.settings.slide_right_side_heading.label",
            "default": "After"
        }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "t:sections.before-after-slider.blocks.slide.name",
                "limit": 12,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "left_side_image",
                        "label": "t:sections.before-after-slider.blocks.slide.settings.left_side_image.label"
                    },
                    {
                        "type": "image_picker",
                        "id": "right_side_image",
                        "label": "t:sections.before-after-slider.blocks.slide.settings.right_side_image.label"
                    },
                    {
                        "type": "text",
                        "id": "bottom_text",
                        "label": "t:sections.before-after-slider.blocks.slide.settings.bottom_text.label",
                        "default": "Bottom slide text content"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "t:sections.before-after-slider.presets.name",
                "settings": {
                    "above_title": "Above heading",
                    "title": "Heading",
                    "subtitle": "Subheading text content"
                },
                "blocks": [
                    {
                        "type": "slide"
                    },
                    {
                        "type": "slide"
                    },
                    {
                        "type": "slide"
                    },
                    {
                        "type": "slide"
                    }
                ]
            }
        ]
    }
{% endschema %}